DATABASE_URL=mongodb+srv://swijayasamdoria:uXAplzLWLQEGkhSJ@mymongodb.oxa2e.mongodb.net
SECRET=dsfsdfwejr9jewmlsdkmfoewur09232ru9
EMAIL_SMTP_SECURE=true
EMAIL_SMTP_PASS=Samudra_04
EMAIL_SMTP_USER=swijayasamdoria@gmail.com
EMAIL_SMTP_PORT=465
EMAIL_SMTP_HOST=smtp.zoho.com
EMAIL_SMTP_SERVICE_NAME=Zoho

CLIENT_HOST=http://localhost:3000

SENDGRID_API_KEY=your_sendgrid_api_key

MIDTRANS_CLIENT_KEY=your_midtrans_client_key
MIDTRANS_SERVER_KEY=your_midtrans_server_key
MIDTRANS_TRANSACTION_URL=https://api.midtrans.com/v2/charge

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_API_SECRET=your_cloudinary_secret
